body{
	font-family: "RalewayRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
}

.red{
	color: #ff4461;
}

strong {
    text-transform: uppercase;
}

.mb-60{
	margin-bottom: 60px;
}

.w-750{
    width: 750px;
}

h2{
    text-transform: uppercase;
}

p{
	margin: 0;
}

.no-padding{
	padding: 0;
}

.mw-960{
	max-width: 960px;
}

.row{
	margin: auto;
    text-align: center;
}


/*BUTTONS*/
.my_btn{
	background-color: #e84545;
	border: none;
	text-transform: uppercase;
}
.btn_md{
	padding: 10px 30px;
} 


/*HEADER*/
header{
	height: 90px;
	margin: 65px auto;
	background-color: #fff;
}

nav{
    height: 70px;
    padding-top: 3px;
    line-height: 67px;
    top: 0;
    background-color: #000;
    position: fixed;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
    z-index: 10000;
    color: rgb(102, 102, 102);
}

.glyphicon {
    /* color: rosybrown; */    
    top: -6px;
    right: 6px;
    font-size: 25px;
    text-shadow: 0px 0px 83px white, 0 0 0.6em red;
}

.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu li{
	display: inline-block;
	padding: 0 8px;
}
.menu li a{
	text-decoration: underline;
	color: #fff;
	text-transform: uppercase;
}
.menu li a.active{
    text-decoration: underline;
    color: #ff4461;
    text-transform: uppercase;
}
.menu li a:hover{
	text-decoration: none;
	color: #e1e1e1;
}

header .logo, header .delivery, header .contact{
    margin: 40px auto  0px;
    width: 280px;
    position: relative;
    font-weight: 600;
}

header .loading{
	position: absolute;
    left: 2px;
    top: 1px;
}

header .logo p{
    margin: 0 0 14px 85px;
    text-align: start;
    line-height: 1.2;
}

header h1{
    font-family: 'Lobster', cursive;
    margin: 0 0 0 35px;
    padding-left: 45px;
    font-size: 40px;
    text-shadow: 2px 3px 2px black, 0 0 0.1em red;
    font-style: italic;
}

header .container a:hover, 
header .container a:focus{
	text-decoration: none;
}

header a{
	color: rgb(102, 102, 102);
}

header .delivery {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    color: #ff4461;
    text-transform: uppercase;
}    

header .delivery p {
	padding: 10px;
    margin: 3px 0 0 53px;
}

header .delivery p span {
    color: #000;
    display: block;
    font-size: 16px;
}

.contact {
	font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    font-weight: 600;
}

.contact p{
	margin: 0 0 -5px 0px;
}

.contact .phone{
	font-size: 30px;
}

.contact .phone span{
	font-size: 22px;
}

.contact .desc{
	font-size: 26px;
}

.contact .address{
	font-size: 17px;
	color: #999;
}

/* DESCRIPTOR */

.descriptor .descr {
    margin-top: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 35px;
}

.descriptor .descr p{
	font-family: "RalewayRegular", sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.descriptor span.descriptor-price{
	font-family: 'Caveat', cursive;
	font-size: 40px;
}

/* main-img */

.general-img{
	padding: 0;
	background: url(../img/main-img.jpg) no-repeat center top;
    height: 622px;
    width: 100%;
    position: relative;
    margin: auto;
    z-index: 1;
    margin-bottom: -22px;
}

.general-img .action-text-bg{
	background: url(../img/action-text-bg.png) no-repeat center top;
    width: 919px;
    height: 95px;
    position: relative;
    margin: auto;
    top: 92px
}

.general-img .text1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    color: #FFF;
    text-transform: uppercase;
    margin: 4px 51px;
    position: relative;
    float: left;
    height: 95px;
    font-weight: 800;
    font-style: italic;
}

.general-img .text2{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 36px;
    color: #FFF;
    text-transform: uppercase;
    margin: 10px 3px;
    position: relative;
    float: left;
    height: 95px;
}

.general-img .text2 p{
	color: #999;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.general-img .text3{
	font-family: 'Open Sans Condensed', sans-serif;
    margin: 2px 30px;
    position: relative;
    float: left;
    height: 95px;
    font-style: italic;
    font-weight: 700;	
}

.general-img .old-price {
    text-decoration: line-through;
    color: #999999;
    font-size: 24px;
    margin: 30px 4px 0 0 !important;
    float: left;
    position: relative;
    margin-left: -5px !important;
}

#main-img .new-price {
    color: #f6525d;
    font-size: 60px;
}

.btn-order{
	font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: -265px;
    box-shadow: 0px 4px 0px 0px #cf000e;
    border-radius: 10px;
    background-color: #f6525d;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 36px;
    padding: 21px 100px;
    height: 100px;
    text-shadow: 0px 3px 2px #cf000e;
    z-index: 999;
}

.btn-order:hover, .btn_order_sm:hover{
	background-color: #f76d77;
}

.btn_order_sm{
	box-shadow: 0px 4px 0px 0px #cf000e;
    border-radius: 10px;
    background-color: #f6525d;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 34px;
    padding: 5px 40px;
    text-shadow: 0px 3px 2px #cf000e;
}

.btn-order:active, .btn_order_sm:active,
.btn-order:focus, .btn_order_sm:focus{
	outline: none!important;
	border: none!important;

}

/* INFO */

.info{
	position: relative;
	width: 100%;
	background-color: #f2f1ef;
	height: auto;
	margin: auto;
	z-index: 99;
	padding-bottom: 160px;
    padding-top: 60px;
}

.info .list-bg{
	border-radius: 10px;
    height: 180px;
    margin: 0 auto;
    width: 935px;
    position: relative;
    background-color: #fff;
    border: 3px solid #f6535f;
    top: 20px;
}

.info .list-bg ul{
	list-style: none;
}

.info .list-bg ul li{
	text-align: center;
    margin: 30px 16px;
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.info li p{
	padding-top: 10px;
    line-height: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* ROW1 */

section.row1{
	width: 100%;
	height: auto;
	margin: auto;
	background-color: #f2f1ef;
	position: relative;
	padding-bottom: 60px;
}

.row1 .title_block:after{
	clear: both;
}

.title_block h2{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fe6b70;
	font-size: 46px;
	font-weight: 800;
}

.row .line_bottom{
	content: "";
    border-bottom: 1px solid #fe6b70;
    height: 26px;
}

.row1 .title_block .loading{
    position: absolute;
    top: -60px;
    right: -65px;
    z-index: 999;
}

.row .description{
    padding: 23px 43px 15px;
    border: 2px solid #9d8c8d;
    border-radius: 15px;
    background-color: #fff;
    position: relative;
    top: -60px;
}

.row .description_title{
    color: #fff;
    padding: 4px 60px;
    background-color: #9d8c8d;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    top: 17px;
    position: relative;
    font-weight: bold;
    z-index: 99;
    margin-bottom: 60px;
}

.row .description_title:focus{
	outline: none;
}

.row1 .products_block{
	list-style-type: none;	
    font-weight: 800;
    display: inline-block;
    width: 254px;
    height: 505px;
    background: url(../img/product-border.png) no-repeat 0 55px;
    margin: auto 15px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    vertical-align: top;
    position: relative;
    margin-bottom: 20px;
    position: relative;
}

.row1 .products_block .product-image img{
	width: 230px;
    border-radius: 50%;
    top: 66px;
    position: absolute;
    left: 12px;
}

.row1 .products_block .product-image{	
	height: 285px;
}

.row1 .products_block .badges{
    position: absolute;
    width: 99px;
    height: 102px;
    z-index: 9;
    top: 40px;
    right: 0px;
}

.row1 .products_block .badges-roses{
	position: absolute;
    width: 136px;
    height: 136px;
    z-index: 9;
    left: 6px;
    top: 61px;
}

.row1 .products_block .product-old-price{
    margin-top: -15px;
    font-style: italic;
    text-decoration: line-through;
    color: #999;
    font-size: 20px
}

.row1 .products_block .product-price{
    font-size: 30px;
    line-height: 40px;
}

.row1 .products_block .product_name{
	font-size: 30px;
}

section.row_last {
	padding-bottom: 0;
	margin-bottom: 60px;
    background: #f2f1ef url(../img/bg-footer.jpg) no-repeat center bottom;
}

	/* READY WORKS */

section.ready-works h2{
	color: #444;
}

section.ready-works .line_bottom{
	border-bottom: 1px solid #444;
}


section.ready-works .row_title_block{
	margin-bottom: 100px;
}

section.ready-works .slides{
    position: relative;
    margin: 0 auto;
    height: 420px;
}

section.ready-works .slides .prevButton{
	filter: blur(1px);
	position: absolute;
    left: -72px;
    top: 138px;
    width: 35px;
    height: 35px;
    background: url(../img/prev_button.png) no-repeat center;
    cursor: pointer;
    z-index: 9999;
}

section.ready-works .slides .nextButton{
	filter: blur(1px);
	position: absolute;
    right: -60px;
    top: 138px;
    width: 35px;
    height: 35px;
    background: url(../img/next_button.png) no-repeat center;
    cursor: pointer;
    z-index: 9999;
}

section.ready-works .slideitem{
	border-radius: 5px;
	height: 50px;
}

section.ready-works .slides img{
	width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    
}

section.ready-works .slides img.showed{
	opacity: 1;
}

section.ready-works .slideitem.slideitem-1{
	position: absolute;
	width: 256px;
	height: 211.2px;
    top: 30px;
    right: 157px;
	top: 54px;
    right: 544.4px;	
}

section.ready-works .slideitem.slideitem-2{
	position: absolute;
	width: 320px;
    height: 264px;
    top: 30px;
    right: 398px;	
	z-index: 99;
}

section.ready-works .slideitem.slideitem-3{
	position: absolute;
	width: 400px;
	height: 330px;
	top: 0;
	right: 190px;		
	z-index: 999;
}

section.ready-works .slideitem.slideitem-4{
	position: absolute;
	width: 320px;
    height: 264px;
    top: 30px;
    right: 62px;		
	z-index: 99;
}

section.ready-works .slideitem.slideitem-5{
	position: absolute;
	width: 256px;
	height: 211.2px;
	top: 54px;
    right: -40.4px;		
}

section.ready-works .slideitem img{
	box-shadow: 0px 11px 28px 0px #000;
}

section.ready-works .slideitem-5 img,
section.ready-works .slideitem-1 img{	
    filter: blur(3px);
    width: 256px;
    height: 192px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    transition: opacity 1.2s;

}

section.ready-works .slideitem-4 img,
section.ready-works .slideitem-2 img{
    filter: blur(2px);
	width: 320px;
    height: 240px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    transition: opacity .8s;
}

section.ready-works .slideitem-3 img{
	filter: blur(0px);
	width: 400px;
    height: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    transition: opacity .4s;
}


		/* FIND US */

section.find_us .title_block{
	
}

section.find_us .line_bottom{
	border-bottom: 1px solid #444;
}

section.find_us .title_block h2{
	color: #444;
}

section.find_us .row_title_block p{
	color: #5f5252;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 45px;
}

section.find_us .left-side, section.find_us .right-side{
	padding: 7px;
	height: 335px;
}

section.find_us .left-side{	
	background: url(../img/main.jpg) no-repeat center center;
	background-size: contain;
    margin-bottom: 60px;
}

section.find_us .right-side iframe{
	height: 100%;
    border: 0;
    width: 100%;
}

section.find_us .search_map{
	margin-bottom: 60px;
}

.logo .loading{
	float: left;
}

.logo p, .logo h3{
	text-align: left;
	margin-left: 80px;
}

.logo h3{
    font-family: 'Lobster', cursive;
    margin: 0 0 0 7px;
    padding-left: 70px;
    font-size: 40px;
    text-shadow: 2px 3px 2px black, 0 0 0.2em #ff4461;
    font-style: italic;
}

section.find_us a:hover{
	text-decoration: none;
}

section.find_us .logo{
	width: 290px;
	margin: 0 auto;
}

section.find_us .soc_network{
    margin-bottom: 16px;
}

section.find_us .soc_network a{
	display: inline-block;
    vertical-align: inherit;
    margin: 32px 0 0 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    background: url(../img/sprite-contact.png) 0 0 transparent no-repeat;
}

section.find_us .soc_network a.soc-facebook{
	background-position: 0 0;
}

section.find_us .soc_network a.soc-instagram{
	background-position: -1116px 0;
}

section.find_us .soc_network a.pluso-email{
	background-position: -682px 0;
}

section.find_us .footer-copy{
	margin: 60px 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

		/* FOOTER */

footer .footer-copy a{
	text-decoration: underline;
	color: #f6525d;	
	font-weight: bold;
	line-height: 3;
}

footer .footer-copy a:hover{
	text-decoration: none;
}

footer .footer_bg{
    height: 57px;
    background-color: #f6525d;
    margin-top: 32px;
}










